.navigation-button-container{
    grid-column: 8/9;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    
}

.navigation-button-container>button{
    
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    width: 100%;
    padding: 0;
    background-color: white;
}

.navigation-button-container>button:hover{
    transition: 400ms;
    border: 1px solid #134880;
    cursor: pointer;
}

#nav-button-left .nav-button-left-gray{
    display: block;
    
}

#nav-button-left .nav-button-left-blue{
    display: none;
    
}

#nav-button-left:hover .nav-button-left-gray{
    display: none;
}


#nav-button-left:hover .nav-button-left-blue{
    display: block;
}


#nav-button-right .nav-button-right-gray{
    display: block;
}

#nav-button-right .nav-button-right-blue{
    display: none;
}

#nav-button-right:hover .nav-button-right-gray{
    display: none;
}

#nav-button-right:hover .nav-button-right-blue{
    display: block;
}